@page
@model WebApplication15.Pages.RequestModel
@{
}

<div>
    <h1 class="display-4">Welcome user to the CDA Training Web App</h1>

    <p class="text-center">
        <img alt="" src="https://d1hbpr09pwz0sk.cloudfront.net/logo_url/critical-design-associates-inc-ab9cc379" class="center"/>
    </p>

    <p class="text-center">
        
    
    <form method="post" asp-page="Request">
        <div class="form-group">
        
 
        <p><button type="submit" class="btn btn-primary" asp-page-handler="Request">Request Network Account</button></p>

        <p><button type="submit" class="btn btn-primary" asp-page-handler="Update">Update Password</button></p>

        <p><button type="submit" class="btn btn-primary" asp-page-handler="Logout">Logout</button></p> 

             </div>
            
        </form>
    </p>



</div>
